.BasicSetup{
    width: 100%;
    height: auto;
}
.BasicSetupH2{
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
}
.BasicSetupCentent{
    width: 100%;
    height: auto;
}